In [2]:
import pandas as pd
import pickle

In [14]:
with open('DeltaMathRawDBSept5.pkl', 'r') as picklefile:
    df = pickle.load(picklefile)

In [ ]:
def attempt_num(df):
    for user in df.columns():
        df[user]

In [16]:
df.groupby('Problem_Type').Correct.mean()

Problem_Type
FOILAlgebraicRadicalBinomial                0.614548
_ajacoby_completeSquareAllEqn               0.499830
_ajacoby_completeSquareEvenEqn              0.536895
_ajacoby_idPropertyLvl1                     0.589857
_ajacoby_idPropertyLvl2                     0.481056
_ajacoby_surfaceAreaCylinder                0.551466
_ajacoby_surfaceAreaRectangularPrism        0.652108
_ajacoby_surfaceAreaSquarePyramid           0.610845
_bmueller_completingTheSquare               0.493488
_bmueller_expEqToPercentGrowthDecay         0.646147
_bmueller_familiesFromTable                 0.472523
_bmueller_inverseOfExp                      0.600000
_bmueller_inverseOfLog                      0.578947
_bmueller_ptWordProblems                    0.694058
_bmueller_quadFactoredToStandard            0.429842
_bmueller_quadInterceptCoefficients         0.521744
_bmueller_quadStandardCoefficients          0.548955
_bmueller_quadVertexCoefficients            0.508971
_bmueller_quadVertexToStandard              0.453232
_bmueller_rateOfChangeUnits                 0.500749
_bmueller_relErr1D                          0.300640
_bmueller_relErr2D                          0.405990
_bmueller_relErr3D                          0.708448
_bmueller_solvingEquationsDistClt           0.611169
_bmueller_storiesToGraphs                   0.528901
_bmueller_systemsInequalitiesChoosePoint    0.383540
_bmueller_tableToEquation1                  0.480993
_bmueller_tableToEquation2                  0.459596
_bmueller_wordProblemsLinearSystems         0.392627
_bnockles_rightTriangleProportions          0.471005
                                              ...
trigSignsAllTricky                          0.457671
trinomialFactorStructureLevel1              0.648876
trinomialFactorStructureLevel2              0.601190
twoStepFactor                               0.479523
twoStepForces                               0.443592
unitRates                                   0.567055
unitRatesGuided                             0.600189
vertexForm                                  0.587107
verticalAsymptotes                          0.506841
verticalHorizLineTest                       0.637943
verticalHorizontalTest                      0.436004
verticalLineTestOnly                        0.728913
visualDomainRange                           0.465477
visualFunction                              0.562489
visualFunctionOneFunc                       0.690158
visualRatios                                0.688375
wordArrangements                            0.663956
wordExpression                              0.643857
wordExpressionCompound                      0.455081
writeLineEquation                           0.557176
writePiecewiseFromGraph                     0.289298
writePolynomialFunctionFromGraph            0.402634
writeTrigFunctionsGivenFeatures             0.393355
xGameLevel1                                 0.798311
xGameLevel2                                 0.705058
xGameLevel3                                 0.637396
xGameMasterProduct                          0.554692
xGameSolveQuadratic                         0.501455
xInterceptsAlgebraicallyPoly                0.481148
zerosCalc1                                  0.575651
Name: Correct, dtype: float64

In [17]:
df[df.Problem_Type=='FOILAlgebraicRadicalBinomial']

,Student_ID,Problem_Type,Problem_ID,Correct,Timestamp,Datetime,Week,Problem_Desc,Subject
74823,84877,FOILAlgebraicRadicalBinomial,1002312,1,1444247433,2015-10-07 15:50:33,41,Multiply Algebraic Radical Binomials,A2 / Trig
74866,84877,FOILAlgebraicRadicalBinomial,1002536,0,1444247530,2015-10-07 15:52:10,41,Multiply Algebraic Radical Binomials,A2 / Trig
75045,84877,FOILAlgebraicRadicalBinomial,1002355,0,1444247560,2015-10-07 15:52:40,41,Multiply Algebraic Radical Binomials,A2 / Trig
75133,84877,FOILAlgebraicRadicalBinomial,1002770,1,1444247593,2015-10-07 15:53:13,41,Multiply Algebraic Radical Binomials,A2 / Trig
88450,139212,FOILAlgebraicRadicalBinomial,1002555,1,1444255389,2015-10-07 18:03:09,41,Multiply Algebraic Radical Binomials,A2 / Trig

In [78]:
df['attempt_number']=1

In [46]:
df.head()

,Student_ID,Problem_Type,Problem_ID,Correct,Timestamp,Datetime,Week,Problem_Desc,Subject,attempt_number
0,132052,reflectFuncsLevel2,1030431,1,1444175466,2015-10-06 19:51:06,41,Graphing Trig Functions (Level 2),A2 / Trig,1
1,149587,distributiveProperty,269978,0,1444175520,2015-10-06 19:52:00,41,The Distributive Property,Pre-Algebra,1
2,153807,_csterner_onestepeqaddsub2,763284,1,1444175492,2015-10-06 19:51:32,41,Forces,A2 / Trig,1
3,152677,solveEquationsMixedFactoring,881237,0,1444176480,2015-10-06 20:08:00,41,Solve Equations by Factoring (Mixed),A2 / Trig,1
4,134650,mixedTransformationsL1,1028560,1,1444175494,2015-10-06 19:51:34,41,Function Transformations on a Point,A2 / Trig,1

In [77]:
problems = df.Problem_Type.unique()

In [57]:
students = df[df.Problem_Type=='FOILAlgebraicRadicalBinomial'].Student_ID.unique()

In [ ]:
for problem in problems:
    for student in students:
        df[df.Problem_Type==problem & df.Student_ID==student]['attempt_number'] = df[df.Problem_Type==problem & df.Student_ID==student]['attempt_number'].cumsum(axis=0)

In [80]:
grouped_by_problem = df[df.Problem_Type=='FOILAlgebraicRadicalBinomial']
grouped_by_problem_and_student = grouped_by_problem[grouped_by_problem.Student_ID==students[0]]

In [81]:
grouped_by_problem_and_student.attempt_number = grouped_by_problem_and_student['attempt_number'].cumsum(axis=0)

In [76]:
grouped_by_problem_and_student

,Student_ID,Problem_Type,Problem_ID,Correct,Timestamp,Datetime,Week,Problem_Desc,Subject,attempt_number
74823,84877,FOILAlgebraicRadicalBinomial,1002312,1,1444247433,2015-10-07 15:50:33,41,Multiply Algebraic Radical Binomials,A2 / Trig,1
74866,84877,FOILAlgebraicRadicalBinomial,1002536,0,1444247530,2015-10-07 15:52:10,41,Multiply Algebraic Radical Binomials,A2 / Trig,2
75045,84877,FOILAlgebraicRadicalBinomial,1002355,0,1444247560,2015-10-07 15:52:40,41,Multiply Algebraic Radical Binomials,A2 / Trig,3
75133,84877,FOILAlgebraicRadicalBinomial,1002770,1,1444247593,2015-10-07 15:53:13,41,Multiply Algebraic Radical Binomials,A2 / Trig,4

In [88]:
df[(df.Student_ID==84877) & (df.Problem_Type=='FOILAlgebraicRadicalBinomial')]

,Student_ID,Problem_Type,Problem_ID,Correct,Timestamp,Datetime,Week,Problem_Desc,Subject,attempt_number
74823,84877,FOILAlgebraicRadicalBinomial,1002312,1,1444247433,2015-10-07 15:50:33,41,Multiply Algebraic Radical Binomials,A2 / Trig,1
74866,84877,FOILAlgebraicRadicalBinomial,1002536,0,1444247530,2015-10-07 15:52:10,41,Multiply Algebraic Radical Binomials,A2 / Trig,1
75045,84877,FOILAlgebraicRadicalBinomial,1002355,0,1444247560,2015-10-07 15:52:40,41,Multiply Algebraic Radical Binomials,A2 / Trig,1
75133,84877,FOILAlgebraicRadicalBinomial,1002770,1,1444247593,2015-10-07 15:53:13,41,Multiply Algebraic Radical Binomials,A2 / Trig,1

In [90]:
df.attempt_number = df.groupby(['Problem_Type', 'Student_ID'])['attempt_number'].cumsum()

In [93]:
df.tail()

,Student_ID,Problem_Type,Problem_ID,Correct,Timestamp,Datetime,Week,Problem_Desc,Subject,attempt_number
9883524,143317,xGameLevel1,916952,1,1455481440,2016-02-14 15:24:00,6,The X Game (Level 1),Algebra 1,8
9883525,130812,addSubtractComplex,10758,1,1455481471,2016-02-14 15:24:31,6,Add/Subtract Complex Numbers,A2 / Trig,2
9883526,142180,completeSquareCircle,820393,1,1455481848,2016-02-14 15:30:48,6,Complete the Square,A2 / Trig,7
9883527,143349,logForm,141641,1,1455481701,2016-02-14 15:28:21,6,Parallelogram Properties - Angles,Geometry,2
9883528,123732,percentIncreaseDecreaseLevel3,1105198,1,1455481501,2016-02-14 15:25:01,6,Multistep Percent Increase / Decrease,Algebra 1,31

In [95]:
df[(df.Student_ID==123732) & (df.Problem_Type=='percentIncreaseDecreaseLevel3')]

,Student_ID,Problem_Type,Problem_ID,Correct,Timestamp,Datetime,Week,Problem_Desc,Subject,attempt_number
8838049,123732,percentIncreaseDecreaseLevel3,1105124,1,1454338005,2016-02-01 09:46:45,5,Multistep Percent Increase / Decrease,Algebra 1,1
8838299,123732,percentIncreaseDecreaseLevel3,1105111,0,1454338175,2016-02-01 09:49:35,5,Multistep Percent Increase / Decrease,Algebra 1,2
8838485,123732,percentIncreaseDecreaseLevel3,1105312,0,1454338380,2016-02-01 09:53:00,5,Multistep Percent Increase / Decrease,Algebra 1,3
8838708,123732,percentIncreaseDecreaseLevel3,1105158,1,1454338492,2016-02-01 09:54:52,5,Multistep Percent Increase / Decrease,Algebra 1,4
8838841,123732,percentIncreaseDecreaseLevel3,1105316,0,1454338597,2016-02-01 09:56:37,5,Multistep Percent Increase / Decrease,Algebra 1,5
8838990,123732,percentIncreaseDecreaseLevel3,1105097,1,1454338648,2016-02-01 09:57:28,5,Multistep Percent Increase / Decrease,Algebra 1,6
8839031,123732,percentIncreaseDecreaseLevel3,1104993,1,1454338741,2016-02-01 09:59:01,5,Multistep Percent Increase / Decrease,Algebra 1,7
8839127,123732,percentIncreaseDecreaseLevel3,1105058,1,1454338832,2016-02-01 10:00:32,5,Multistep Percent Increase / Decrease,Algebra 1,8
8839249,123732,percentIncreaseDecreaseLevel3,1105209,1,1454339011,2016-02-01 10:03:31,5,Multistep Percent Increase / Decrease,Algebra 1,9
8839409,123732,percentIncreaseDecreaseLevel3,1105372,1,1454339167,2016-02-01 10:06:07,5,Multistep Percent Increase / Decrease,Algebra 1,10
8839536,123732,percentIncreaseDecreaseLevel3,1105066,1,1454339319,2016-02-01 10:08:39,5,Multistep Percent Increase / Decrease,Algebra 1,11
8839701,123732,percentIncreaseDecreaseLevel3,1105039,1,1454339456,2016-02-01 10:10:56,5,Multistep Percent Increase / Decrease,Algebra 1,12
8859118,123732,percentIncreaseDecreaseLevel3,1105153,1,1454360784,2016-02-01 16:06:24,5,Multistep Percent Increase / Decrease,Algebra 1,13
8859234,123732,percentIncreaseDecreaseLevel3,1105027,1,1454360886,2016-02-01 16:08:06,5,Multistep Percent Increase / Decrease,Algebra 1,14
8859362,123732,percentIncreaseDecreaseLevel3,1105342,1,1454360952,2016-02-01 16:09:12,5,Multistep Percent Increase / Decrease,Algebra 1,15
8859428,123732,percentIncreaseDecreaseLevel3,1105057,1,1454361166,2016-02-01 16:12:46,5,Multistep Percent Increase / Decrease,Algebra 1,16
8859709,123732,percentIncreaseDecreaseLevel3,1105159,1,1454361242,2016-02-01 16:14:02,5,Multistep Percent Increase / Decrease,Algebra 1,17
8859815,123732,percentIncreaseDecreaseLevel3,1105035,1,1454361376,2016-02-01 16:16:16,5,Multistep Percent Increase / Decrease,Algebra 1,18
8859954,123732,percentIncreaseDecreaseLevel3,1105359,1,1454361447,2016-02-01 16:17:27,5,Multistep Percent Increase / Decrease,Algebra 1,19
8860036,123732,percentIncreaseDecreaseLevel3,1105420,1,1454361500,2016-02-01 16:18:20,5,Multistep Percent Increase / Decrease,Algebra 1,20
8860106,123732,percentIncreaseDecreaseLevel3,1105291,1,1454361577,2016-02-01 16:19:37,5,Multistep Percent Increase / Decrease,Algebra 1,21
8860313,123732,percentIncreaseDecreaseLevel3,1105050,1,1454361705,2016-02-01 16:21:45,5,Multistep Percent Increase / Decrease,Algebra 1,22
8860386,123732,percentIncreaseDecreaseLevel3,1105304,1,1454361745,2016-02-01 16:22:25,5,Multistep Percent Increase / Decrease,Algebra 1,23
8860455,123732,percentIncreaseDecreaseLevel3,1105385,1,1454361801,2016-02-01 16:23:21,5,Multistep Percent Increase / Decrease,Algebra 1,24
8860512,123732,percentIncreaseDecreaseLevel3,1105340,1,1454361853,2016-02-01 16:24:13,5,Multistep Percent Increase / Decrease,Algebra 1,25
8860571,123732,percentIncreaseDecreaseLevel3,1105005,-1,1454361854,2016-02-01 16:24:14,5,Multistep Percent Increase / Decrease,Algebra 1,26
9879158,123732,percentIncreaseDecreaseLevel3,1105144,1,1455481147,2016-02-14 15:19:07,6,Multistep Percent Increase / Decrease,Algebra 1,27
9883299,123732,percentIncreaseDecreaseLevel3,1105387,1,1455481170,2016-02-14 15:19:30,6,Multistep Percent Increase / Decrease,Algebra 1,28
9883327,123732,percentIncreaseDecreaseLevel3,1105463,0,1455481328,2016-02-14 15:22:08,6,Multistep Percent Increase / Decrease,Algebra 1,29
9883435,123732,percentIncreaseDecreaseLevel3,1105123,1,1455481439,2016-02-14 15:23:59,6,Multistep Percent Increase / Decrease,Algebra 1,30
9883528,123732,percentIncreaseDecreaseLevel3,1105198,1,1455481501,2016-02-14 15:25:01,6,Multistep Percent Increase / Decrease,Algebra 1,31

In [ ]:
with open(df, 'w') as picklefile:
    pickle.loa

In [96]:
df.to_pickle('df_with_attempt_number.pkl')

In [102]:
df.Problem_Type.value_counts()[:10]

custom1                       332593
slopeFromPoints               111699
linearEquations               109246
_csterner_twostepeq           102300
slopeGraphically               96856
graphingLines                  95787
linearInequalities             88335
standardToSlopeIntForm         86114
_csterner_onestepeqaddsub2     85248
writeLineEquation              78914
dtype: int64

##Explore the success rate of one question type as the attempt number changes

In [103]:
all_attempts = df[df.Problem_Type=='slopeFromPoints']

In [105]:
all_attempts.describe()

,Student_ID,Problem_ID,Correct,Timestamp,Week,attempt_number
count,111699.000000,111699.000000,111699.000000,1.116990e+05,111699.000000,111699.000000
mean,142924.728100,306159.489369,0.489843,1.449017e+09,34.848674,15.191121
std,25456.628507,285.718989,0.585209,3.170333e+06,19.042499,17.988241
min,9842.000000,305667.000000,-1.000000,1.444176e+09,1.000000,1.000000
25%,130913.000000,305913.000000,0.000000,1.446497e+09,6.000000,4.000000
50%,144554.000000,306159.000000,1.000000,1.448241e+09,44.000000,9.000000
75%,158541.000000,306407.000000,1.000000,1.452052e+09,47.000000,19.000000
max,185635.000000,306655.000000,1.000000,1.465927e+09,53.000000,193.000000

In [111]:
all_attempts.groupby('attempt_number')['Correct'].mean()[:50]

attempt_number
1     0.262594
2     0.422250
3     0.480474
4     0.497909
5     0.518571
6     0.510572
7     0.512644
8     0.514518
9     0.524823
10    0.528396
11    0.521504
12    0.514509
13    0.520968
14    0.532544
15    0.524910
16    0.548918
17    0.548677
18    0.557623
19    0.520730
20    0.538555
21    0.532938
22    0.527066
23    0.526559
24    0.513603
25    0.504394
26    0.521087
27    0.529762
28    0.513830
29    0.535797
30    0.500000
31    0.520368
32    0.513324
33    0.551416
34    0.518692
35    0.521739
36    0.535714
37    0.490602
38    0.540000
39    0.500000
40    0.507761
41    0.555035
42    0.535452
43    0.468912
44    0.494475
45    0.513120
46    0.534161
47    0.493243
48    0.510714
49    0.468165
50    0.529880
Name: Correct, dtype: float64

##Commentary: Overall Probability of Success Quickly Rises After a User's First Attempt At a Problem.

##Next Step: Bayes
###Restrict to Users Who Got Question 1 Correct; Now what are subsequent Probabilities?

In [125]:
#Methodology:
#1. Find User ID's Where Attempt=1 and Correct=1
#2. Rescan dataframe looking for these User ID's
#3. Groupby Attempt # and recalculate means

successful_students = all_attempts[(all_attempts.attempt_number==1) & (all_attempts.Correct==1)]['Student_ID']
attempts_with_initial_success = all_attempts[all_attempts.Student_ID.isin(successful_students)]
attempts_with_initial_success.groupby('attempt_number')['Correct'].mean()[:20] - all_attempts.groupby('attempt_number')['Correct'].mean()[:20]

attempt_number
1     0.737406
2     0.148644
3     0.113998
4     0.096019
5     0.093110
6     0.051644
7     0.066438
8     0.043142
9     0.066320
10    0.065310
11    0.078496
12    0.052100
13    0.037037
14    0.031719
15    0.024858
16    0.068917
17    0.044544
18    0.037393
19    0.056193
20    0.054038
Name: Correct, dtype: float64

In [116]:
len(successful_students)

3280

In [117]:
len(all_attempts.Student_ID.unique())

8774

###Remarks: Chance of Success on 2nd Attempt is ~15% higher for those with 1st success than versus the entire population

In [133]:
##What about success on 1st and 2nd attempts?
##Ultimately we want to estimate our confidence that a student has "mastered" a skill.

success1_students = all_attempts[(all_attempts.attempt_number==1) & (all_attempts.Correct==1)]['Student_ID']
success2_students = all_attempts[(all_attempts.attempt_number==2) & (all_attempts.Correct==1)]['Student_ID']
success3_students = all_attempts[(all_attempts.attempt_number==3) & (all_attempts.Correct==1)]['Student_ID']
success4_students = all_attempts[(all_attempts.attempt_number==4) & (all_attempts.Correct==1)]['Student_ID']
success5_students = all_attempts[(all_attempts.attempt_number==5) & (all_attempts.Correct==1)]['Student_ID']
attempts_with_initial_success = all_attempts[(all_attempts.Student_ID.isin(success1_students)) & (all_attempts.Student_ID.isin(success2_students)) & (all_attempts.Student_ID.isin(success3_students)) & (all_attempts.Student_ID.isin(success4_students)) & (all_attempts.Student_ID.isin(success5_students))]
attempts_with_initial_success.groupby('attempt_number')['Correct'].mean()[:20]

attempt_number
1     1.000000
2     1.000000
3     1.000000
4     1.000000
5     1.000000
6     0.369427
7     0.651452
8     0.762115
9     0.757009
10    0.815000
11    0.664671
12    0.645833
13    0.587302
14    0.638889
15    0.608696
16    0.792683
17    0.779221
18    0.656716
19    0.725806
20    0.631579
Name: Correct, dtype: float64

In [141]:
print "Overall Average:", attempts_with_initial_success['Correct'].mean()
print "Average on First 5 Attempts:", attempts_with_initial_success[attempts_with_initial_success.attempt_number<6]['Correct'].mean()
print "Average after First 5 Attempts:", attempts_with_initial_success[attempts_with_initial_success.attempt_number>5]['Correct'].mean()
print '\n'
print "Average for all Users after 5 Attempts", all_attempts[all_attempts.attempt_number>5]['Correct'].mean()

Overall Average: 0.827408362498
Average on First 5 Attempts: 1.0
Average after First 5 Attempts: 0.685464921114


Average for all Users after 5 Attempts 0.521542560349

In [159]:
#Restrict to attempts 1-10;
#Groupby Student...Calculate Average...Bucket Students Based on Success Rates On 1st 10.
# all_attempts.groupby('Student_ID')['Student_ID'].count()>=10
all_students = all_attempts.pivot(index='Student_ID')

ValueError: cannot label index with a null key

In [158]:
all_students = all_attempts.pivot?

In [ ]:
all_students = all_attempts.pivot

In [153]:
all_students.head()

AttributeError: 'function' object has no attribute 'head'